doctype html

extends ./layout.jade

block content
    // Content Header (Page header)
    section.content-header
        h1
            | Dashboard
            small Panel de control
        ol.breadcrumb
            li
                a(href='/')
                    i.fa.fa-dashboard
                    |  Dashboard                   
            li.active Cambiar contraseña
    
    // Main content
    section.content
        if user_added >= 1
            .alert.alert-success.alert-dismissible
                button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
                h4
                    i.icon.fa.fa-check
                    |  #{user_added} actividades añadidas con exito!

        .box.box-primary
            .box-header.with-border
                h3.box-title Cambiar contraseña

            form.form-horizontal(action="/change-password" method="post")
                .box-body
                    .col-sm-7
                        .form-group
                            label.col-sm-2.control-label(for='inputEmail3') Nueva contraseña:
                            .col-sm-5
                                input#password.form-control(required name="password" type='password', placeholder='Nueva contraseña')

                        .form-group
                            label.col-sm-2.control-label(for='inputEmail3') Repetir contraseña:
                            .col-sm-5
                                input#repeat_password.form-control(required name="repeat_password" type='password', placeholder='Repetir contraseña')
                                
                .box-footer
                    .col-sm-1
                        button.btn.btn-primary#submit(disabled type='submit') La contraseña no coincide
                    .col-sm-1                      
    // jQuery 2.1.4
    script(src='plugins/jQuery/jQuery-2.1.4.min.js')

    script.
        $('#repeat_password').on('input', function() {
            if($('#password').val() == $('#repeat_password').val()){
                $('#submit').removeAttr('disabled');
                $('#submit').html('Cambiar contraseña');
            }
            else{
                $('#submit').attr('disabled','disabled');
                $('#submit').html('La contraseña no coincide');
            }
        });
        
        $('#password').on('input', function() {
            if($('#password').val() == $('#repeat_password').val()){
                $('#submit').removeAttr('disabled');
                $('#submit').html('Cambiar contraseña');
            }
            else{
                $('#submit').attr('disabled','disabled');
                $('#submit').html('La contraseña no coincide');
            }
        });        
