doctype html

extends ./layout.jade

block content
    // Content Header (Page header)
    section.content-header
        h1
            | Dashboard
            small Panel de control
        ol.breadcrumb
            li.active
                a(href='#')
                    i.fa.fa-dashboard
                    |  Dashboard
    
    // Main content
    section.content
        .row
            .col-xs-12
                if using_gen_password == true
                    .col-lg-12.col-xs-6
                      // small box
                      .small-box.bg-red
                        .inner
                          h3 Cambia tu contraseña!
                          p Parece que aún estás usando la contraseña generada por defecto. Te recomendamos cambiar tu contraseña a una que recuerdes más facilmente
                        .icon
                          i.ion.ion-key
                        a.small-box-footer(href='/change-password')
                          | Cambiar mi contraseña 
                          i.fa.fa-arrow-circle-right
      // Your Page Content Here
    // /.content