doctype html

extends ./layout.jade

block sidebar
    // Sidebar Menu
    ul.sidebar-menu
        if user_role!="Coordinador"
            li.header MENÚ DE PROFESOR
            // Optionally, you can add icons to the links
            li
                a(href='/')
                    i.fa.fa-home
                    span Inicio
            li
                a(href='#')
                    i.fa.fa-glass
                    span Mis talleres                
            li 
                a(href='/my-schools')
                    i.fa.fa-graduation-cap
                    span Mis colegios
            li
                a(href='#')
                    i.fa.fa-files-o
                    span Documentacion
            li
                a(href='#')
                    i.fa.fa-download
                    span Descargas                
            li.treeview
                a(href='#')
                    i.fa.fa-gear
                    span Otros
                        i.fa.fa-angle-left.pull-right
            ul.treeview-menu
              li
                a(href='#')
                  i.fa.fa-slack
                  span Unirse a Slack
        else
            li.header MENÚ DE COORDINADOR
            li
                a(href='/')
                    i.fa.fa-home
                    span Inicio
            li
                a(href='/users')
                    i.fa.fa-users
                    span Gestion de usuarios
            li
                a(href='/import-activities')
                    i.fa.fa-calendar-check-o
                    span Importar actividades                            
            li
                a(href='/import-students')
                    i.fa.fa-users
                    span Importar estudiantes
    // /.sidebar-menu   

block content
    // Content Header (Page header)
    section.content-header
        h1
            | Dashboard
            small Panel de control
        ol.breadcrumb
            li.active
                a(href='#')
                    i.fa.fa-dashboard
                    |  Dashboard
    
    // Main content
    section.content
        if user_role =="coordinator"
        .row
          .col-lg-3.col-xs-6
            // small box
            .small-box.bg-aqua
              .inner
                h3 #{teachers_count}
                p Profesores
              .icon
                i.ion.ion-person-stalker
              a.small-box-footer(href='/users')
                | Mas información 
                i.fa.fa-arrow-circle-right
          // ./col
          .col-lg-3.col-xs-6
            // small box
            .small-box.bg-yellow
              .inner
                h3 #{activities_count}
                p Actividades
              .icon
                i.ion.ion-ios-game-controller-b
              a.small-box-footer(href='/import-activities')
                | Mas información 
                i.fa.fa-arrow-circle-right
          // ./col            
        
      // Your Page Content Here
    // /.content