doctype html
html
    head
        title=title_page
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/stylesheets/login.css')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    body
        div.container
            form(action="/login" method="post" class="form-signin form-horizontal")
                h2.form-signin-heading.text-center Area monitores

                if message != ""
                    div(class="alert alert-danger alert-dismissible" role="alert") #{message}
                div.form-group
                    label(for="inputUsername" class="sr-only") Username
                    input(type="text" id="inputUsername" class="form-control" name="username" placeholder="Username" required autofocus)
                div.form-group
                    label(for="inputPassword" class="sr-only") Password
                    input(type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required)
                input(type="submit" value="Sign in" class="btn btn-lg btn-primary btn-block")