doctype html

extends ./layout.jade

block sidebar
    // Sidebar Menu
    ul.sidebar-menu
        if user_role!="Coordinador"
            li.header MENÚ DE PROFESOR
            // Optionally, you can add icons to the links
            li
                a(href='/')
                    i.fa.fa-home
                    span Inicio
            li
                a(href='#')
                    i.fa.fa-glass
                    span Mis talleres                
            li 
                a(href='/my-schools')
                    i.fa.fa-graduation-cap
                    span Mis colegios
            li
                a(href='#')
                    i.fa.fa-files-o
                    span Documentacion
            li
                a(href='#')
                    i.fa.fa-download
                    span Descargas                
            li.treeview
                a(href='#')
                    i.fa.fa-gear
                    span Otros
                        i.fa.fa-angle-left.pull-right
            ul.treeview-menu
              li
                a(href='#')
                  i.fa.fa-slack
                  span Unirse a Slack
        else
            li.header MENÚ DE COORDINADOR
            li
                a(href='/')
                    i.fa.fa-home
                    span Inicio
            li
                a(href='/users')
                    i.fa.fa-users
                    span Gestion de usuarios
            li
                a(href='/import-activities')
                    i.fa.fa-calendar-check-o
                    span Importar actividades                            
            li
                a(href='/import-students')
                    i.fa.fa-users
                    span Importar estudiantes
    // /.sidebar-menu   

block content
    // Content Header (Page header)
    section.content-header
        h1
            | Dashboard
            small Panel de control
        ol.breadcrumb
            li
                a(href='/')
                    i.fa.fa-dashboard
                    |  Dashboard                   
            li.active Usuarios
    
    // Main content
    section.content
        .row
            .col-xs-12
                if user_added == 1
                    .alert.alert-success.alert-dismissible
                    button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
                    h4
                        i.icon.fa.fa-check
                        |  Usuario añadido con exito!
                if user_added == 0
                    .alert.alert-danger.alert-dismissible
                    button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
                    h4
                        i.icon.fa.fa-ban
                        | Hubo un problema añadiendo al usuario. Contacta con el administrador del sitio.
                
                .box
                    .box-header
                        h3.box-title Usuarios
                    // /.box-header

                    .box-body.table-responsive.no-padding
                        table.table.table-hover
                            tbody
                                tr
                                    th Nombre y apellidos
                                    th E-Mail
                                    th Rol
                                each teacher in teachers_list
                                    tr
                                        td #{teacher.name}
                                        td #{teacher.email}
                                        td #{teacher.role}
                    // /.box-body
                // /.box
              
                .box.box-info
                    .box-header.with-border
                        h3.box-title Añadir profesor
                    // /.box-header

                    // form start
                    form.form-horizontal(action="users" method="post")
                        .box-body
                            .form-group
                                label.col-sm-2.control-label(for='inputEmail3') Nombre y apellidos
                                .col-sm-7
                                    input#inputEmail3.form-control(required name="fullname" type='text', placeholder='Nombre completo')
                            .form-group
                                label.col-sm-2.control-label(for='inputEmail3') E-Mail
                                .col-sm-7
                                    input#inputEmail3.form-control(required name="email" type='email', placeholder='Email')                          
                            .form-group
                                label.col-sm-2.control-label(for='inputPassword3') Password
                                .col-sm-7
                                    input#inputPassword3.form-control(required name="password" type='password', placeholder='Password')
                        // /.box-body
                        .box-footer
                            button.btn.btn-info.pull-right(type='submit') Añadir profesor
                        // /.box-footer

      // Your Page Content Here
    // /.content